<footer class="bg-dark text-white py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-4">
        <h5 class=" mb-3">About Us</h5>
        <p>At GameZone, we offer the latest and best gaming consoles for enthusiasts and casual players alike. Whether you're looking for the PlayStation, Xbox, or Nintendo Switch, we’ve got you covered. Join the gaming revolution!</p>
      </div>

      <div class="col-md-4 mb-4">
        <h5 class="text-uppercase mb-3">Quick Links</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-white text-decoration-none d-block mb-2">Home</a></li>
          <li><a href="#" class="text-white text-decoration-none d-block mb-2">Consoles</a></li>
          <li><a href="#" class="text-white text-decoration-none d-block mb-2">Privacy Policy</a></li>
        </ul>
      </div>

      <div class="col-md-4 mb-4">
        <h5 class="text-uppercase mb-3">Follow Us</h5>
        <div class="d-flex gap-3">
          <a href="https://www.facebook.com" class="text-white text-decoration-none">
            Facebook
          </a>
          <a href="https://www.twitter.com/" class="text-white text-decoration-none">
            Twitter
          </a>
          <a href="https://www.instagram.com/" class="text-white text-decoration-none">
            Instagram
          </a>
          <a href="https://www.youtube.com/" class="text-white text-decoration-none">
            youtube
          </a>
        </div>
      </div>
    </div>

    <hr class="border-secondary mb-4">

    <div class="text-center">
      <small>&copy; 2024 GameZone. All Rights Reserved. The best gaming consoles at your fingertips!</small>
    </div>
  </div>
</footer>
